<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <img v-on:mouseover="toggleShowPrices" v-on:mouseOut="toggleShowPrices" v-bind:src="img" v-bind:alt="name" width="50px">
        <h1 v-bind:class="changeperson > 0 ? 'green' : 'red'">{{name}}
            <span v-if="changeperson > 0">
               <div v-if="changeperson  > 0">
                   se logro
               </div>
            </span>
        </h1>
        <input type="number" v-model="value">
        <span>{{ convertedValue }}</span>
        <span v-on:click="toggleShowPrices"> {{showPrices ? 'ocultar' : 'ver'}} </span>
        <ul v-show=showPrices>
            <li v-for="(p, i) in pricesWithDays" v-bind:key="p.day">{{i}}-{{p.day}}= {{p.value}} {{symbol}}</li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>